# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C / Binary build artifacts
benchmarks/*.bin
benchmarks/*.o
benchmarks/*.out
*.exe
*.mp4
*.mkv
*.avi

# Fuzzing outputs
out/
crashes/
hangs/
aegis_output/
aegis_output_test/

# Environments
.env
.venv
env/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
